.logo1 {
  height: 60px;
}

.email {
  color: white;
  height: 15px;
  margin: 5px;
}

.face {
  color: white;
  height: 15px;
  margin: 10px;
}

.insta {
  color: white;
  height: 15px;
  margin: 5px;
}

.lupa {
  color: white;
  height: 25px;
  margin: 10px;
}