.conteudo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100dvh;
}

.divMenu {
  height: 20%;
}

.divCorpo {
  height: 80%;
}

.texto {
  margin: 150px;
}

.caixa {

  padding: 0px;
}

.pergunta{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  gap: 1em;
}

.pergunta button{
  width: 90px;
}

.botao{
  align-items: end;
}