.titulo {
  color: white;
  text-align: center;
}

.btn1 {
  background-color: rgba(0, 0, 0, 0);
}
.btn2 {
  background-color: rgba(0, 0, 0, 0);
}
.btn3 {
  background-color: rgba(0, 0, 0, 0);
}

header {
  display: flex;
}

.header2 {
  display: inline-flex;
}

.fundo {
  width: 830px;
}

.txt {
  color: paleturquoise;
  margin: 35px;
}
